div#avocado-logo {
  text-align: center;
}

div#logo {
  position: relative;
  left: -87px;
}

div#text {
  position: relative;
  top: -63px;
  left: 20px;
}

h3#logo-text {
  color: #3cb371;
  font-size: 1.5em;
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: bold;
  text-align: center;
}

h3 {
  color: #fff;
  font-size: 1.5em;
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: bold;
  text-align: center;
}